<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="estinde.css">
    <title>Inicio</title>
</head>

<body>
    <header>
        <a href="Index.html" class="logo">

            <img src="logo.png" alt="logo de la compañia">
            <h2 class="nombre-compania">Mensajería Electrónica</h2>
        </a>
        <nav>
            <a href="" class="nav-link">Inicio</a>
            <a href="inicio.html" class="nav-link">Iniciar Sesion</a>
            <a href="registro.html" class="nav-link">Registro</a>  
        </nav>
    </header>
    <section id="hero">
        <h1>
          Conoce la Mejor <br> Plataforma De mensajeria
        </h1>
        <a href="inicio.html">
            <button>Ingresar a la Sesion</button></a>
      </section>
</body>
<footer class="footer">
    <div class="barrasocial">
        <ul>
            <li><a href="#"><img src="/Proyecto Elechtml/templates/facebook.png" alt="facebook"></a></li>
            <li><a href="#"><img src="/Proyecto Elechtml/templates/ig.png" alt="Instagram"></a></li>
            <li><a href="#"><img src="/Proyecto Elechtml/templates/wa.png" alt="Whatsapp"></a></li>
            <li><a href="#"><img src="/Proyecto Elechtml/templates/you.png" alt="Youtube"></a></li>
        </ul>
    </div>
</footer>
</html>