<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Principal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="principal.css">
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-unlink"></span> 
                <span>Mensajería Electrónica</span>
            </h3> 
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>
        
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="">
                        <span class="ti-home"></span>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-time"></span>
                        <span>Historial</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-book"></span>
                        <span>Contactos</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-settings"></span>
                        <span>Ajustes</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    
    <div class="main-content">
        
        <header>
            <div class="social-icons">
              
            </div>
        </header>
   
        <main>
            <h2 class="dash-title">Menu Principal</h2>
            <div class="dash-cards">
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-briefcase"></span>
                        <div>
                            <h5>Recibidos</h5>
                            <h4>5000</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">Ver Todos</a>
                    </div>
                </div>
                
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-reload"></span>
                        <div>
                            <h5>Enviados</h5>
                            <h4>500</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">Ver Todos</a>
                    </div>
                </div>
            </div>
            <section class="recent">
                <div class="activity-grid">
                    <div class="activity-card">
                        <center><h3>Todos Los Correos</h3> </center>
                        <div class="search-wrapper">
                            <span class="ti-search"></span>
                            <input type="search" placeholder="Buscar Correo">
                        </div>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nombre Usuario</th>
                                        <th>Asunto Correo</th>
                                        <th>Cuerpo Mensaje</th>
                                        <th>fecha</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>usuario1</td>
                                        <td class="td-team">
                                        
                                    </tr>
                                    <tr>
                                        <td>usuario2</td>
    
                                    </tr>
                                    <tr>
                                        <td>usuarios</td>
                                        
                
                                    </tr>
                                    <tr>
                                        <td>usuario4</td>
                                        
                                    </tr>
                                    <tr>
                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="summary">
                        <div class="summary-card">
                            <center><h3>Todos Los Correos</h3> </center>
                            <div class="search-wrapper">
                                <span class="ti-search"></span>
                                <input type="search" placeholder="Buscar Contacto">
                            </div>
                            <div class="table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre Usuario</th>
                                            <th>Perfil</th>
                                            <th>Enviar Mensaje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>usuario1</td>
                                            <td class="td-team">
                                                <div class="img-1"></div>
                                               
                                            </td>
                                            <td>
                                                <span class="badge success">Redactar</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>usuario2</td>
        
                                            <td class="td-team">
                                                <div class="img-2"></div>    
                                            </td>
                                            <td>
                                                <span class="badge warning">Redactar</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>usuarios</td>
                                            
                                            <td class="td-team">
                                                <div class="img-2"></div>
                                            </td>
                                            <td>
                                                <span class="badge success">Redactar</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>usuario4</td>
                                            
                                            <td class="td-team">
                                                
                                                <div class="img-3"></div>
                                            </td>
                                            <td>
                                                <span class="badge warning">Redactar</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>usuario5</td>
                                            
                                            <td class="td-team">
                                                <div class="img-3"></div>
                                            </td>
                                            <td>
                                                <span class="badge success">Redactar</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                     <div class="text-center">
                                <button>
                                    <span class="ti-gift"></span>
                                    Redactar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>   
        </main> 
    </div>
    
</body>
</html>