
:root{
  --color-primario: #F2F0F0;
  --color-secundario: #591902;
  --color-tres: #A65F37;
  --color-cuatro: #D99559;
  --color-cinco: #6F8C07;
}

body {
    background-color: #F2F0F0;
  }

  .navegador{
    max-width: 1400px;
    margin: auto;
  }
  .nave {
    max-width: 1400px;
    margin: auto;
  }
  header {
    background-color: #a2a2a0;
  }
  
  header .logo {
    margin: 0;
    padding: 20px 30px;
    font-weight: bold;
    color: #15082c;
    font-size: 1.2em;
  }
  header .nave {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header a {
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #A65F37;
  }
  
  header a:hover {
    color: #591902;
  }
  #menu {
    background-color: #a2a2a0;
    color: white;
    text-align: center;
  }
  
  #menu h2 {
    font-size: 1.5em;
    color: #030418;
    font-weight: bold;
  }
  
  #menu .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px;
    border-radius: 15px;
    margin: 20px;
  }
  #menu .carta1 {
    background-position: center center;
    background-size: cover;
    padding: 50px;
    border-radius: 15px;
    margin: 20px;
  }
  #menu .carta2 {
    background-position: center center;
    background-size: cover;
    padding: 50px;
    border-radius: 15px;
    margin: 20px;
  }

  .carta:nth-child(1){
    background-image: url(sencilla.jpg);
  }
  .carta:nth-child(2){
    background-image: url(doble.jpg);
  }
  .carta:nth-child(3){
    background-image: url(pollo.jpg);
  }
  .carta1:nth-child(1){
    background-image: url(natural.jpg);
  }
  .carta1:nth-child(2){
    background-image: url(gaseosa.jpg);
  }
  .carta1:nth-child(3){
    background-image: url(agua.jpg);
  }
  .carta2:nth-child(1){
    background-image: url(carne.jpg);
  }
  .carta2:nth-child(2){
    background-image: url(emppollo.jpg);
  }
  .carta2:nth-child(3){
    background-image: url(mixta.jpg);
  }
  @media (min-width: 700px) {
    header .nave {
      flex-direction: row;
      justify-content: space-between;
    }
  
    header nav {
      flex-direction: row;
      padding-bottom: 0;
      padding-right: 15px;
    }
    #menu .programas {
      display: flex;
      justify-content: center;
    }
  
    #menu .carta {
      padding: 35px;
    }
    #menu .carta1 {
      padding: 35px;
    }
    #menu .carta2 {
      padding: 35px;
    }
  
}