@media (min-width: 600px){
    .c3,.container{
        width: 100%;
    }
    .c1,.c2{
        width: 50%;
        max-width: 35rem;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
    }
    .c12{
        height: 100%;
    }
    }